<footer class="bg-white-100 text-gray-600 py-8">
  <div class="container mx-auto flex flex-col items-center">
    <div class="flex items-center justify-center mt-4 space-x-4">
      <a
        *ngFor="let item of socialIcons"
        [href]="item.link"
        class="text-3xl hover:text-[#915eff] transform transition-transform hover:scale-110"
      >
        <fa-icon [icon]="item.icon"></fa-icon>
      </a>
    </div>

    <div class="mt-4 text-sm">
      <p>Email: my@email.com</p>
      <p>Phone: +123 456 789</p>
    </div>

    <div class="mt-4 text-sm">
      <p class="text-xs">&copy; 2023 Traveling Blog All rights reserved.</p>
    </div>
  </div>
</footer>
