<div
  class="w-full min-h-screen mx-auto top-5 z-20 bg-gradient-to-tr from-indigo-900"
>
  <div
    class="relative inset-0 top-[120px] max-w-7xl mx-auto flex flex-col lg:flex-row items-start lg:items-center gap-5"
  >
    <div class="flex flex-col justify-center items-center mt-5">
      <div class="w-5 h-5 rounded-full bg-[#915eff]"></div>
      <div class="w-1 sm:h-80 h-40 violet-gradient"></div>
    </div>

    <div>
      <h1 class="text-white text-center lg:text-left">
        Hi, I'm <span class="text-[#915eff]">Tobias</span>
      </h1>

      <br />
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.wikia.nocookie.net%2Fvillains%2Fimages%2Fe%2Fea%2FStewie.png%2Frevision%2Flatest%3Fcb%3D20200126094937&f=1&nofb=1&ipt=c44334fd599ab6f44f20686eb207d309e20563df8136732d942c1d9b3dec938a&ipo=images"
        class="mx-auto mb-4 rounded-lg"
        style="max-width: 200px; max-height: 200px"
      />
      <p class="text-md py-5 leading-8 text-secondary">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam
        voluptatum necessitatibus corrupti, distinctio rerum molestiae et labore
        minima laboriosam nihil consequuntur dolor nisi dolorum accusantium,
        voluptates assumenda. Ab, ratione ipsa?
      </p>
      <div class="mt-8">
        <h2 class="text-white text-center lg:text-left text-2xl font-bold mb-4">
          Lorem ipsum dolor sit amet
        </h2>
        <div
          class="flex flex-col lg:flex-row items-center lg:items-start gap-5"
        >
          <div>
            <h3 class="text-[#915eff] text-lg font-semibold">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </h3>
            <p class="text-secondary">something</p>
          </div>
          <div>
            <h3 class="text-[#915eff] text-lg font-semibold">Lorem ipsum</h3>
            <p class="text-secondary">something</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mx-auto flex flex-col items-center">
  <button
    (click)="toggleForm()"
    class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-indigo mb-4"
  >
    Contact me!
  </button>

  <div *ngIf="showForm" class="form-container">
    <h2 class="text-2xl font-bold mb-4">Contact Me</h2>
    <form (ngSubmit)="onSubmit()" class="space-y-4">
      <ng-container *ngFor="let field of formFields">
        <div>
          <label [for]="field.id" class="block text-sm font-medium"
            >{{ field.label }}:</label
          >
          <input
            [type]="field.type"
            [id]="field.id"
            [(ngModel)]="formData[field.name]"
            [name]="field.name"
            required
            class="mt-1 p-2 block w-full rounded-md border focus:ring-indigo-500 focus:border-indigo-500"
          />
        </div>
      </ng-container>
      <button type="submit" class="submit-button">Send</button>
    </form>
  </div>
</div>
