<div class="relative w-full">
  <div
    class="relative h-56 md:w-full mx-auto overflow-hidden rounded-lg md:h-96"
  >
    <img
      src="https://images.pexels.com/photos/257961/pexels-photo-257961.jpeg?auto=compress&cs=tinysrgb&w=1600"
      class="w-full h-full object-cover"
    />
  </div>
</div>

<div class="lg:flex">
  <!--Main Content-->
  <div class="p-10 w-full lg:w-2/3">
    <h2 class="text-center">Most Recent Posts</h2>
    <div
      *ngFor="let post of posts"
      class="mx-2 my-4 cursor-pointer text-black bg-white-100 mt-5 p-5"
      (click)="navigateToPostDetails(post.id)"
    >
      <div class="font-bold text-lg mb-2">{{ post.title }}</div>

      <img
        class="rounded-xl w-full h-80 object-cover transition transform hover:scale-105 mt-5 p-5"
        [src]="post.thumbnailUrl"
      />
      <div class="flex items-center space-x-1 mb-2 mt-2">
        <div
          class="bg-gray-500 text-white font-bold py-1 px-2 rounded-full text-sm"
        >
          <i class="fas fa-heart"></i> {{ post.likes }}
        </div>
        <div
          class="bg-gray-500 text-white font-bold py-1 px-2 rounded-full text-sm"
        >
          <i class="fas fa-thumbs-down"></i> {{ post.dislikes }}
        </div>
      </div>

      <p class="text-gray-500 mb-2">
        {{ post.creationDate | date : "medium" }}
      </p>
      <hr class="border-t border-neutral-200 my-4" />
    </div>
  </div>
  <!--Side content-->
  <div class="float-left w-1/4 pl-5 mt-16">
    <div class="mx-2 my-4 text-black bg-white-100 mt-5 p-5 top-12 sticky">
      <h2 class="underline text-center mb-5">About Traveling Blog</h2>
      <img
        class="w-40 h-40 mx-auto rounded-full mb-5"
        src="https://images.pexels.com/photos/3560138/pexels-photo-3560138.jpeg?auto=compress&cs=tinysrgb&w=1600"
      />
      <p class="text-center">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis
        alias dolorum, esse veniam non aliquid possimus quae, voluptates eveniet
        aut ea doloremque enim a fugiat. Consectetur voluptatem molestias alias
        tenetur!
      </p>
    </div>
  </div>
</div>
