<div
  *ngFor="let post of posts"
  class="flex flex-col sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 justify-center space-y-4 my-5 mx-auto p-3 cursor-pointer text-black rounded-lg bg-neutral-50 hover:bg-slate-200"
  (click)="navigateToPostDetails(post.id)"
>
  <div class="font-bold text-lg mb-2 text-center">{{ post.title }}</div>
  <img
    class="rounded-t-xl w-full h-60 object-cover"
    [src]="post.thumbnailUrl"
    alt="{{ post.title }}"
  />

  <div class="flex items-center space-x-1 mb-4">
    <div
      class="bg-gray-500 text-white font-bold py-1 px-2 rounded-full text-sm"
    >
      <i class="fas fa-thumbs-up"></i> ({{ post.likes }})
    </div>
    <div
      class="bg-gray-500 text-white font-bold py-1 px-2 rounded-full text-sm"
    >
      <i class="fas fa-thumbs-down"></i> ({{ post.dislikes }})
    </div>
  </div>
  <hr class="border-t border-neutral-200 my-4" />
</div>
