<!--Blog Post-->

<div
  *ngIf="post"
  class="flex flex-col max-w-2xl mx-auto my-8 p-6 bg-white mt-24"
>
  <img
    class="w-full h-full mb-4 rounded-xl mx-auto"
    [src]="post.thumbnailUrl"
  />
  <h2 class="text-2xl font-bold mb-4 text-center text-black">
    {{ post.title }}
  </h2>
  <div class="mb-4 leading-relaxed text-justify text-black font-sans text-base">
    <p *ngFor="let paragraph of post.body.split('\n')" class="mb-5">
      {{ paragraph }}
    </p>
  </div>

  <div class="flex items-center mt-4">
    <span class="mr-2 text-gray-500"
      >Created: {{ post.creationDate | date }}</span
    >
  </div>
  <div class="flex items-center space-x-1 mb-2 mt-2">
    <button
      (click)="likePost()"
      class="bg-gray-500 text-white font-bold py-1 px-2 rounded-full text-sm"
    >
      <i
        class="fa-solid fa-heart text-red-600 text-xl transition duration-200 ease-in-out transform hover:scale-125"
      ></i>
      {{ post.likes }}
    </button>

    <button
      (click)="dislikePost()"
      class="bg-gray-500 text-white font-bold py-1 px-2 rounded-full text-sm"
    >
      <i
        class="fa-solid fa-thumbs-down text-xl transition duration-200 ease-in-out transform hover:scale-125"
      ></i>
      {{ post.dislikes }}
    </button>
  </div>
  <!--Comment Section-->
  <div class="mt-6">
    <section *ngIf="comments.length > 0" class="mt-6">
      <h3 class="text-xl font-semibold mb-2">Comments:</h3>
      <ul>
        <li *ngFor="let comment of comments" class="mb-2">
          <span class="font-semibold">{{ comment.name }}:</span>
          {{ comment.body }}
          <div class="mt-4">
            <button
              *ngIf="viewService.isAdmin()"
              (click)="removeComment(comment.id)"
              class="ml-2 p-1 text-sm border rounded hover:bg-red-500 hover:text-white focus:outline-none"
            >
              Delete
            </button>
          </div>
          <hr class="border-t border-black my-4" />
        </li>
      </ul>
    </section>
    <!-- Display Tags -->
    <div class="mt-4">
      <h3 class="text-xl font-semibold mb-2">Tags:</h3>
      <ul>
        <li *ngFor="let tag of post.tags" class="inline-block mr-2 mb-2">
          <a class="bg-secondary px-2 py-1 rounded">#{{ tag }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="mt-4 flex items-center">
    <input
      [(ngModel)]="newComment"
      type="text"
      placeholder="Add a comment..."
      class="flex-grow border p-2 rounded mr-2 focus:outline-none bg-neutral-200 text-black"
    />
    <button
      (click)="addComment()"
      class="px-4 py-2 text-white bg-gray-500 rounded hover:bg-gray-700 focus:outline-none"
    >
      Add Comment
    </button>
  </div>
  <div class="mt-4">
    <button
      *ngIf="viewService.isAdmin()"
      (click)="removePost()"
      class="px-4 py-2 text-white bg-red-500 rounded hover:bg-red-700 focus:outline-none mr-4"
    >
      Delete Post
    </button>
    <button
      (click)="navigateBackToHome()"
      class="px-4 py-2 text-white bg-gray-500 rounded hover:bg-gray-700 focus:outline-none"
    >
      Back to Home
    </button>
  </div>
</div>
