<div class="max-w-5xl px-6 mx-auto min-h-screen mt-20 mb-10">
  <div class="flex flex-col lg:flex-row gap-16">
    <div class="max-w-prose lg:flex-none">
      <section class="mb-12">
        <!-- Blog Content -->
        <h2
          class="font-bold mb-3 text-4xl tracking-tighter leading-tight text-black text-center mx-auto"
        >
          Blog
        </h2>
        <p
          class="first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-white first-letter:mr-3 first-letter:float-left text-center"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto aperiam
          necessitatibus ex repellendus dolorum quibusdam. Ipsum delectus eos
          eum exercitationem error ex quo, veritatis est ea quaerat distinctio
          placeat quas?
        </p>
      </section>

      <!-- All Posts Section -->
      <section>
        <div class="flex justify-center lg:justify-between">
          <h2
            class="my-8 text-3xl tracking-tighter leading-tight text-center lg:text-left text-black"
          >
            All Posts
          </h2>
        </div>
        <div class="flex flex-col gap-8">
          <div class="flex flex-col lg:flex-row lg:gap-5 bg-white-100 mt-5 p-5">
            <div class="w-full lg:w-1/3">
              <div
                *ngFor="let post of posts"
                class="cursor-pointer text-black hover:scale-105 my-4"
                (click)="navigateToPostDetails(post.id)"
              >
                <div class="mb-4 lg:flex">
                  <img
                    class="rounded-xl w-full lg:w-48 h-32 object-cover mb-4 lg:mb-0 lg:mr-4"
                    [src]="post.thumbnailUrl"
                  />
                  <div class="w-full lg:w-2/3">
                    <h3
                      class="font-bold text-lg mb-1 leading-snug text-black flex-nowrap"
                    >
                      {{ post.title }}
                    </h3>

                    <p class="text-sm leading-relaxed mb-4 line-clamp-3">
                      {{ post.body }}
                    </p>
                  </div>
                </div>
                <div class="border-t border-neutral-300"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Tags Section -->
    <div class="flex-initial hidden lg:block">
      <div class="border border-neutral-400 p-4">
        <h3 class="mt-2 mb-8 text-3xl text-black">Tags:</h3>
        <div class="flex flex-wrap gap-1">
          <ng-container *ngFor="let post of posts">
            <div *ngFor="let tag of post.tags" class="inline-block">
              <!-- Loop through each 'tag' in the 'post.tags' array -->
              <a class="inline-block mr-1 mb-1"> #{{ tag }} </a>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
