<header class="w-full flex items-center py-5 fixed top-0 z-20 bg-primary">
  <div class="flex justify-between items-center max-w-7xl mx-auto">
    <div class="flex items-center justify-between md:justify-center">
      <div
        class="flex items-center justify-between mb-4 md:mb-0 md:hidden"
      ></div>

      <nav class="md:hidden mb-4" (click)="handleMenu($event)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </nav>
    </div>

    <nav class="md:block" [class.hidden]="isHidden">
      <ul class="list-reset md:flex md:items-center">
        <li class="md:ml-4 md:mx-8 transition-transform hover:scale-90">
          <a routerLink="/home">Home</a>
        </li>
        <li class="md:ml-4 md:mx-8 transition-transform hover:scale-90">
          <a routerLink="/blog">Blogs</a>
        </li>
        <li
          class="md:ml-4 md:mx-8 transition-transform hover:scale-125"
          *ngIf="currentUserStatus === 'admin'"
        >
          <a routerLink="/new-post">New Post</a>
        </li>

        <li class="md:ml-4 md:mx-8 transition-transform hover:scale-90">
          <a routerLink="/about">About</a>
        </li>

        <button
          (click)="toggleUserChoice()"
          class="md:ml-4 md:mx-8 transition-transform hover:scale-125 bg-[#915eff] text-white-100 px-4 py-2 rounded-full"
        >
          {{ currentUserStatus }}
        </button>
      </ul>
    </nav>
  </div>
</header>
