<header class="bg-white">
  <nav class="flex justify-between items-center w-[92%] mx-auto">
    <div>
      <i class="fa-sharp fa-solid fa-mountain-sun fa-2xl text-5xl"></i>
    </div>
    <div
      class="nav-links duration-500 md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex-items-center px-5"
    >
      <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
        <li>
          <a routerLink="/home" class="relative">
            Home
            <span
              class="absolute bottom-0 left-0 w-full h-0.5 bg-[#915eff]"
            ></span>
          </a>
        </li>
        <li class="md:ml-4 md:mx-8 group">
          <a
            routerLink="/blog"
            class="transition-transform duration-300 hover:scale-90 relative"
          >
            Blog
            <span
              class="absolute bottom-0 left-0 w-full h-0.5 bg-[#915eff] transition-transform duration-300 origin-left transform scale-x-0 group-hover:scale-x-100"
            ></span>
          </a>
        </li>

        <li
          class="md:ml-4 md:mx-8 transition-transform hover:scale-125"
          *ngIf="currentUserStatus === 'admin'"
        >
          <a routerLink="/new-post">New Post</a>
        </li>
        <li class="md:ml-4 md:mx-8 group">
          <a
            routerLink="/about"
            class="transition-transform duration-300 hover:scale-90 relative"
          >
            About
            <span
              class="absolute bottom-0 left-0 w-full h-0.5 bg-[#915eff] transition-transform duration-300 origin-left transform scale-x-0 group-hover:scale-x-100"
            ></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="flex items-center gap-6">
      <button
        (click)="toggleUserChoice()"
        class="md:ml-4 md:mx-8 transition-transform hover:scale-125 bg-[#915eff] text-white-100 px-4 py-2 rounded-full"
      >
        {{ currentUserStatus }}
      </button>
    </div>
  </nav>
</header>
