.slider {
  overflow: hidden;
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  margin: auto;
}

.slides {
  display: flex;
  transition: transform 500ms ease-out;
}

.slide {
  flex: 0 0 100%;
}
.small-image {
  max-width: 100%; /* Set the maximum width to 100% of the container */
  height: auto; /* Maintain the aspect ratio */
}
