<div class="container w-4/5 md:w-9/12 min-h-screen mx-auto mt-20">
  <form (submit)="uploadPost()" class="space-y-4">
    <div class="w-full">
      <input
        [(ngModel)]="title"
        type="text"
        name="title"
        placeholder="Post Title"
        required
        class="w-full p-2 border rounded"
      />
    </div>
    <div class="w-full">
      <input
        [(ngModel)]="thumbnailUrl"
        type="url"
        name="thumbnailUrl"
        placeholder="Image URL"
        required
        class="w-full p-2 border rounded"
      />
    </div>
    <div *ngIf="thumbnailUrl" class="w-full">
      <img
        [src]="thumbnailUrl"
        alt="Thumbnail"
        class="w-full h-auto rounded mb-4"
      />
    </div>
    <div class="w-full">
      <textarea
        [(ngModel)]="content"
        rows="10"
        name="content"
        placeholder="Post Content"
        required
        class="w-full p-2 border rounded"
      ></textarea>
    </div>
    <div class="w-full">
      <input
        [(ngModel)]="tagsInput"
        type="text"
        name="tagsInput"
        placeholder="Tags (comma separated)"
        class="w-full p-2 border rounded"
      />
    </div>
    <div class="w-full">
      <div *ngFor="let tag of tags" class="inline-block mr-2 mb-2">
        <span class="bg-gray-300 px-2 py-1 rounded">{{ tag }}</span>
        <button
          type="button"
          (click)="removeTag(tag)"
          class="ml-2 text-red-500"
        >
          Remove
        </button>
      </div>
    </div>
    <button
      type="submit"
      class="w-full text-black p-2 rounded hover:bg-neutral-100"
    >
      Save Post
    </button>
  </form>
</div>
